
*{
    margin:0px;
    padding:0px;;
}.choice img {
    border-radius:50%;
    height:200px;
    width:200px;
    margin:30px;
    object-fit:cover;
}
.choices{
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:70px;
}
h1{
    text-align:center;
    height:5rem;
    color:white;
    background-color:#081b31;
    margin:0px;
    padding-top:15px;
}
.choice :hover{
    border:2px solid black;
    cursor:pointer;
    opacity:0.8;
}
.score_board{
    display:flex;
    justify-content:center;
    align-items:center;
}
.score{
    margin:40px;
    font-size:1.5rem;
}
#msg_container{
    text-align:center;
    margin-top:30px;
}
#msg{
    font-size:2rem;
    background-color:#081b31;
    display:inline;
    color:white;
    padding:1rem;
    border-radius:1rem;
}
#user{
    font-size:4rem;
}
#comp{
    font-size:4rem;
}